<ul>
    <li style="width: 100%;">
        <a href="/" ><i class="oi oi-home" />Main</a>
    </li>
    <li style="width: 100%;">
        <a href="#" ><i class="oi oi-account-login" />Log in</a>
    </li>
</ul>